/*** Global Styles ***/

body {
	font: normal 16px 'Scope One', Helvetica, sans-serif;
	background-color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	border-bottom: 1px solid #FFEBA3;
}

section {
	padding: 50px;
	border-bottom: 1px solid #ccc;
	margin: 0 30px;
}

section > h3 {
	font-size: 2.827rem;
	text-align: center;
	padding-bottom: 20px;
}

section > p {
	padding-bottom: 1.5rem;
	line-height: 1.5rem;
	max-width: 800px;
	margin: 0 auto;
}

/*** Navigation ***/

nav {
	background-color: #3A74D0;
	text-align: center;
	padding: 25px 0;
	box-shadow: 0 3px 5px 0 #555;
	position: relative;
}

nav li {
	display: inline;
		padding: 0 20px;
}

nav a {
	padding: 0 5px;
}

/*** Header ***/

header {
	background: url(../assets/header_yoga.jpg) no-repeat center center;
	height: 400px;
	background-size: 100% auto;
	text-align: center;
	color: white;
}

header > h1 {
	background: url(../assets/img_chakra.png) 50% 40% no-repeat;
	padding-top: 185px;
	background-size: 100px;
	font-size: 3.998rem;
}

header > h2 {
	font-size: 1.999rem;
	font-weight: normal;
	color: #DF5000;
}

/*** Work Experience ***/

#background dl {
	max-width: 800px;
	margin: 0 auto;
}

#background dt {
	font-size: 1.2rem;
	font-weight: bold;
	padding-top: 10px;	
}

#background dd {
	margin-left: 50px;
}



/*** Favorite Poses ***/

.pose {
  	position: relative;	
	height: 200px;
	width: 200px;
	display: inline-block;
}

.pose:hover .pose-back,
.pose:target .pose-back {
	opacity: 1;
}

.pose-back {
  background-color: #333;
  opacity: 0;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0; 
  bottom: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.bondi-blue {
	background-color: #0086B3;
}

.jazzberry-jam {
	background-color: #A71D5D;
}

.trinidad {
	background-color: #DF5000;
}

.deluge {
	background-color: #795DA3;
}

.han-blue {
	background-color: #3A74D0;
}

.foam-blue {
	background-color: #13293D;
}

.pose > h4, .pose-back > h4 {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.414rem;
}

.pose > h4 {
	padding-top: 50px;
}

.pose-back > h4 {
	padding-top: 50px;
}

.pose-back > p {
	font-size: 0.707rem;
	padding: 15px;
}

/*** Yoga Education ***/

button {
	border: 0;
	background: #C73D5D;
	border-radius: 2px;
	box-shadow: 0 5px 0 #A71D5D;
	color: #fff;
	cursor: pointer;
	margin: 0;
	outline: 0;
	padding: 8px 20px;
	transition: all 0.1s linear;
	vertical-align: top;
}

button:active {
	box-shadow: 0 2px 0 #A71D5D;
	transform: translateY(3px);
}

#yoga-edu form {
	max-width: 800px;
	margin: 0 auto;
}

input[type="email"] {
	height: 30px;
	width: 250px;
	padding-left: 10px;
}

/*** Schedule ***/

#schedule table{
	margin: 0 auto;
	border-collapse: collapse;
	vertical-align: middle;
}

tr {
	max-width: 400px;
	outline: none;
	text-align: center;	
}

tr.top-border {
	border-top: 1px solid #ccc;
}

.table-padding-bottom {
	padding-bottom: 20px;
}

.table-padding-top {
	padding-top: 20px;
}

td {
	width: 200px;
	padding: 5px 0;
}